<%- contentFor('body') %>

<div class="title-container" text="Gym"></div>

<div id="battle-slots">
  <% for (let i = 0; i < players.length; i++ ) { let p = players[i]; %>
    <div class="fighter center-align">
      <% if (p && p.id) { %>
        <img
        <% if (+p.species_id <= 721) { %>
          src="http://www.pokestadium.com/sprites/xy/<%= p.image_name %>.gif"
        <% } else { %>
          src="https://img.pokemondb.net/sprites/sun-moon/dex/normal/<%= p.image_name %>.png"
        <% } %>
        alt="<%= p.species %>">
        <span class="fighterName"><%= p.name %></span>
        <span class="fighterCP"><%= p.cp %></span>
      <% } else { %>
        <form action="/gym/add" method="post">
          <div class="input-field">
            <select class="validate" name="id" pattern="^\d+$" required>
              <option value="" selected disabled></option>
              <% for (let pmn of pokemon) { %>
                <option value="<%= pmn.id %>"><%= pmn.name %> - <%= pmn.species %> (<%= pmn.trainer %>)</option>
              <% } %>
            </select>
            <label for="id" data-error="Select from List">Select Pokemon</label>
          </div>
          <button class="btn" type="submit">Add</button>
        </form>
      <% } %>
    </div>
    <% if (i === 0) { %>
      <div id="filler" class="valign-wrapper center-align"><h3 class="center-align">vs.</h3></div>
    <% } %>
  <% } %>
</div>
<% if (players[0] && players[1] && players[0].id && players[1].id) { %>
<button id="battle-button" class="btn red" type="button" onclick="battle()">Battle</button>
<% } %>
<% if (players[0] && players[1] && (players[0].id || players[1].id)) { %>
<button class="btn blue" type="button" onclick="gymReset()">Reset</button>
<div id="player1Win" style="display:none;">
  <h2><%= players[0].name %> WINNER!!!</h2>
</div>
<div id="player2Win" style="display:none;">
  <h2><%= players[1].name %> WINNER!!!</h2>
</div>
<div id="draw" style="display:none;">
  <h2>Equal match. Neither wins!</h2>
</div>
<% } %>



<script type="text/javascript">
  let players = <%- JSON.stringify(players) %>;
</script>

<script type="text/javascript" src="/js/gym.js" defer></script>
